{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>
  
  {% for project in projects.companies %}
    <div class="item">

   {% if project.company %}
    <div class="company">
     <p>{{ project.company }}</p>
  </div><!--//intro-->
  {% endif %}
      
  {% if project.intro %}
  <div class="intro">
      <p>{{ project.intro }}</p>
  </div><!--//intro-->
  {% endif %}
  {% assign assignments = project.assignments %}
  {% for assignment in assignments %}
      <span class="project-title">
        {% if assignment.link %}
        <a href="{{ project.link }}" target="_blank">{{ assignment.title }}</a>
        {% else %}
        {{ assignment.title }}
        {% endif %}
      </span>

      {% if assignment.tagline %}
      : <span class="project-tagline">{{ assignment.tagline }}</span>
      {% endif %}

      {% if assignment.my-responsibility %}
      : <br class="project-myresponsibility">{{ assignment.my-responsibility }}</br>
      {% endif %}
      
      {% if assignment.responsibilities %}
    <div class="details">
      {{ assignment.responsibilities | markdownify }}
    </div><!--//details-->
  {% endif %}
  {% endfor %}
      
    
  {% endfor %}

</section><!--//section-->
{% endif %}
